eCollection_MISIntimation_API_KAS349_intimation/intimation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:simpleType name="request_priority_type">
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="api_version" type="xsd:string" />

	<xsd:element name="request_id" type="xsd:string" />
	<xsd:element name="request_datetime" type="xsd:dateTime" />
	<xsd:element name="request_priority" type="request_priority_type"/>
	<xsd:element name="parent_request_id" type="xsd:string" />
	<xsd:element name="parent_request_datetime" type="xsd:dateTime" />
	<xsd:element name="sender_system_user_id" type="xsd:string" />
	<xsd:element name="sender_system_user_id_type" type="xsd:string" />
	<xsd:element name="resent_indicator" type="xsd:boolean" />
	<xsd:element name="original_request_id" type="xsd:string" />
	<xsd:element name="original_request_datetime" type="xsd:dateTime" />
	<xsd:element name="original_channel_id" type="xsd:string" />
	<xsd:element name="original_sender_system_id" type="xsd:string" />
	<xsd:element name="original_request_priority" type="request_priority_type" />
	<xsd:element name="original_sender_system_user_id" type="xsd:string" />
	<xsd:element name="original_sender_system_user_id_type" type="xsd:string" />
	<xsd:element name="sender_system_id" type="xsd:string" />
	<xsd:element name="channel_id" type="xsd:string" />

	<xsd:element name="test_indicator" type="xsd:boolean" />

	<xsd:element name="client_code" type="xsd:string" />
	<xsd:element name="virtual_account_number" type="xsd:string" />
	<xsd:element name="transaction_id" type="xsd:string" />
	
	<xsd:simpleType name="transaction_id_type_type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UTR"/>
			<xsd:enumeration value="RRN"/>
			<xsd:enumeration value="TRANID"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="transaction_id_type" type="transaction_id_type_type" />
	
	<xsd:element name="transaction_datetime" type="xsd:dateTime" />
	<xsd:element name="transaction_amount" type="xsd:decimal" />
	<xsd:element name="currency_code" type="xsd:string" />
	
	<xsd:simpleType name="payment_mode_type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NEFT"/>
			<xsd:enumeration value="RTGS"/>
			<xsd:enumeration value="IMPS"/>
			<xsd:enumeration value="FT"/>
			<xsd:enumeration value="UTR"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="payment_mode" type="payment_mode_type" />

	<xsd:element name="sender_name" type="xsd:string" />
	<xsd:element name="sender_mobile_communication_number"
		type="xsd:string" />
	<xsd:element name="sender_account_number" type="xsd:string" />
	<xsd:element name="sender_bank_name" type="xsd:string" />
	<xsd:element name="sender_ifsc_code" type="xsd:string" />

	<xsd:element name="client_account_name" type="xsd:string" />
	<xsd:element name="client_mobile_communication_number"
		type="xsd:string" />
	<xsd:element name="client_account_number" type="xsd:string" />

	<xsd:element name="client_bank_name" type="xsd:string" />
	<xsd:element name="client_ifsc_code" type="xsd:string" />

	<xsd:element name="narration_1" type="xsd:string" />
	<xsd:element name="narration_2" type="xsd:string" />
	<xsd:element name="informational_message" type="xsd:string" />
	<xsd:element name="external_system_reference_1" type="xsd:string" />
	<xsd:element name="external_system_reference_2" type="xsd:string" />
	<xsd:element name="client_remarks" type="xsd:string" />

	<xsd:complexType name="client_data_ext_type">
		<xsd:sequence>
			<xsd:any minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="client_data_ext" type="client_data_ext_type" />

	<xsd:element name="response_id" type="xsd:string" />
	<xsd:element name="response_datetime" type="xsd:dateTime" />

	<xsd:simpleType name="completion_code_type">
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="0"/> 	<!-- Successful -->
			<xsd:enumeration value="1"/>	<!-- Warning -->
			<xsd:enumeration value="2"/>	<!-- Error -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="completion_code" type="completion_code_type" />
	<xsd:element name="reason_code" type="xsd:string" />
	<xsd:element name="message" type="xsd:string" />

	<xsd:element name="retry_indicator" type="xsd:boolean" />
	<xsd:element name="retry_after_interval" type="xsd:integer" />
	<xsd:element name="retry_after_datetime" type="xsd:dateTime" />

	<xsd:element name="intimation_request" type="intimation_requestType" />
	<xsd:element name="intimation_response" type="intimation_responseType" />

	<xsd:complexType name="intimation_requestType">
		<xsd:sequence>
			<xsd:element ref="api_version" />
			<xsd:element ref="request_id" />
			<xsd:element ref="request_datetime" />
			<xsd:element ref="parent_request_id" minOccurs="0"/>
			<xsd:element ref="parent_request_datetime" minOccurs="0"/>
			<xsd:element ref="channel_id" minOccurs="0"/>
			<xsd:element ref="sender_system_id" minOccurs="0"/>
			<xsd:element ref="sender_system_user_id" minOccurs="0"/>
			<xsd:element ref="sender_system_user_id_type" minOccurs="0"/>
			<xsd:element ref="request_priority" minOccurs="0"/>
			<xsd:element ref="resent_indicator" minOccurs="0"/>
			<xsd:element ref="original_request_id" minOccurs="0"/>
			<xsd:element ref="original_request_datetime" minOccurs="0"/>
			<xsd:element ref="original_channel_id" minOccurs="0"/>
			<xsd:element ref="original_sender_system_id" minOccurs="0"/>
			<xsd:element ref="original_sender_system_user_id" minOccurs="0"/>
			<xsd:element ref="original_sender_system_user_id_type" minOccurs="0"/>
			<xsd:element ref="original_request_priority" minOccurs="0"/>
			<xsd:element ref="test_indicator" minOccurs="0"/>
			<xsd:element ref="client_code" />
			<xsd:element ref="virtual_account_number" />
			<xsd:element ref="transaction_amount" />
			<xsd:element ref="currency_code" />
			<xsd:element ref="payment_mode" />
			<xsd:element ref="transaction_id" />
			<xsd:element ref="transaction_id_type" />
			<xsd:element ref="transaction_datetime" />
			<xsd:element ref="sender_name" />
			<xsd:element ref="sender_mobile_communication_number" minOccurs="0"/>
			<xsd:element ref="sender_account_number" />
			<xsd:element ref="sender_bank_name" minOccurs="0"/>
			<xsd:element ref="sender_ifsc_code" />
			<xsd:element ref="client_account_name" minOccurs="0"/>
			<xsd:element ref="client_mobile_communication_number" minOccurs="0"/>
			<xsd:element ref="client_account_number" />
			<xsd:element ref="client_bank_name"  minOccurs="0"/>
			<xsd:element ref="client_ifsc_code"  minOccurs="0"/>
			<xsd:element ref="narration_1" minOccurs="0"/>
			<xsd:element ref="narration_2" minOccurs="0"/>
			<xsd:element ref="informational_message" minOccurs="0"/>
			<xsd:element ref="external_system_reference_1" minOccurs="0"/>
			<xsd:element ref="external_system_reference_2" minOccurs="0"/>
			<xsd:element ref="client_remarks" minOccurs="0"/>
			<xsd:element ref="client_data_ext" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="intimation_responseType">
		<xsd:sequence>
			<xsd:element ref="api_version" />
			<xsd:element ref="response_id" />
			<xsd:element ref="response_datetime" />
			<xsd:element ref="request_id" />
			<xsd:element ref="request_datetime" />
			<xsd:element ref="parent_request_id" minOccurs="0"/>
			<xsd:element ref="parent_request_datetime" minOccurs="0"/>
			<xsd:element ref="channel_id" minOccurs="0"/>
			<xsd:element ref="sender_system_id" minOccurs="0"/>
			<xsd:element ref="sender_system_user_id" minOccurs="0"/>
			<xsd:element ref="sender_system_user_id_type" minOccurs="0"/>
			<xsd:element ref="request_priority" minOccurs="0"/>
			<xsd:element ref="resent_indicator" minOccurs="0"/>
			<xsd:element ref="original_request_id" minOccurs="0"/>
			<xsd:element ref="original_request_datetime" minOccurs="0"/>
			<xsd:element ref="original_channel_id" minOccurs="0"/>
			<xsd:element ref="original_sender_system_id" minOccurs="0"/>
			<xsd:element ref="original_sender_system_user_id" minOccurs="0"/>
			<xsd:element ref="original_sender_system_user_id_type" minOccurs="0"/>
			<xsd:element ref="original_request_priority" minOccurs="0"/>
			<xsd:element ref="test_indicator" minOccurs="0"/>
			<xsd:element ref="client_code" minOccurs="0"/>
			<xsd:element ref="virtual_account_number" minOccurs="0"/>
			<xsd:element ref="transaction_amount" minOccurs="0"/>
			<xsd:element ref="currency_code" minOccurs="0"/>
			<xsd:element ref="payment_mode" minOccurs="0"/>
			<xsd:element ref="transaction_id" minOccurs="0"/>
			<xsd:element ref="transaction_id_type" minOccurs="0"/>
			<xsd:element ref="transaction_datetime" minOccurs="0"/>
			<xsd:element ref="sender_name" minOccurs="0"/>
			<xsd:element ref="sender_mobile_communication_number" minOccurs="0"/>
			<xsd:element ref="sender_account_number" minOccurs="0"/>
			<xsd:element ref="sender_bank_name" minOccurs="0"/>
			<xsd:element ref="sender_ifsc_code" minOccurs="0"/>
			<xsd:element ref="client_account_name" minOccurs="0"/>
			<xsd:element ref="client_mobile_communication_number" minOccurs="0"/>
			<xsd:element ref="client_account_number" minOccurs="0"/>
			<xsd:element ref="client_bank_name"  minOccurs="0"/>
			<xsd:element ref="client_ifsc_code"  minOccurs="0"/>
			<xsd:element ref="narration_1" minOccurs="0"/>
			<xsd:element ref="narration_2" minOccurs="0"/>
			<xsd:element ref="informational_message" minOccurs="0"/>
			<xsd:element ref="external_system_reference_1" minOccurs="0"/>
			<xsd:element ref="external_system_reference_2" minOccurs="0"/>
			<xsd:element ref="client_data_ext" minOccurs="0"/>
			<xsd:element ref="completion_code" />
			<xsd:element ref="reason_code" minOccurs="0"/>
			<xsd:element ref="message" minOccurs="0"/>
			<xsd:element ref="retry_indicator" minOccurs="0"/>
			<xsd:element ref="retry_after_datetime" minOccurs="0"/>
			<xsd:element ref="retry_after_interval" minOccurs="0"/>
		</xsd:sequence>

	</xsd:complexType>
</xsd:schema>